 <div class="modal-header">
            <h3 class="modal-title">Import Shapefile</h3>
        </div>
        <div class="modal-body">
           <div class="row">
        <div class="col-sm-12">
            wef;welfkew;f
            welf;wlefw;ef
            w;elf;ewl,f;ew,lf
            w;le,f;elw,f;ewl,f
        </div>
    </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default btn-flat" ng-click="cancel()">Cancel</button>
            <button class="btn btn-success btn-flat" ng-click="uploadshapefile();submitted=true">Import</button>
        </div>